/* class selector to select a desired class, can be more than one class */
/* #idname is the id selector, only one single html element */
.App {
  text-align:center; 
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f0eedd;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  /* justify-content: center; */

  color: black;
}

.Cus-header {
  background-color: #f0eedd;
  min-height: 150vh;
  align-items:center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-router {
  align-items: center;
}

.card-wrapper {
  background-color: #f0eedd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
  justify-content: center;
  margin: auto;
  font-size: calc(10px + 2vmin);
  padding: 70px, 0;
  top: 50%;
}


.card {
  width: 200,
}

.form {
  margin-top:1cm;
}

#hello {
  color:black
}

.App-link {
  color:blueviolet;
}

.red {
  background-image: url("1.jpg");
}

.green {
  background-image: url("2.jpg");
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
